@import "~bootstrap/scss/bootstrap";

.main-view_header {
  font-weight: bold;
  font-size: 25px;
  background-color: #d3d3d3;
  color: grayscale($color: #2b2929);
  padding-bottom: 30px;
  padding-top: 15px;
  text-align: center;
}


.main-view_container{
  display: grid;
  grid-template-rows: auto auto;
}

.main-view_col{
  display: flex;
  justify-content: center;
  //margin-left: 2vw;
  grid-template-columns: auto auto auto;
}