@import "~bootstrap/scss/bootstrap";

.main-view_container{
  display: grid;
  grid-template-rows: auto auto;
}

.main-view_col{
  display: flex;
  justify-content: center;
  margin-left: 2vw;
  grid-template-columns: auto auto auto;
}