.register_form{
  align-items: center;
  justify-content: center;
  display: block;
  box-sizing: border-box;
  padding-top: 20px;

}

.form_body {
  padding-top: 20px;
  margin-left: 35px;
}

.form-item{
  align-items: center;
  
}