@import "~bootstrap/scss/bootstrap";

.form_container{
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  padding-top: 20px;
  font: bold;

}

.form_body {
  padding-top: 20px;
  margin-left: 35px;
}

.form-item{
  align-items: center;
  display: block;
  width: 250px;
}

.input-box{
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}
