@import "bootstrap/scss/bootstrap";

.nav-view {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 10vh;
  background-color: rgb(55, 67, 71);
  color: white;
}

.profile-button .logout-button{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
  background-color: rgb(55, 67, 71);
  color: white !important;
}