@import "~bootstrap/scss/bootstrap";

.form-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  padding-top: 20px;
  font-weight: bold;
  min-height: 90vh;
  margin-left: 20px;
}

.user-register {
  padding-top: 20px;
}

.register-button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}